.film-container {
  height: 310px;
  margin: 20px 10%;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/f/fe/Le_gendarme_de_St._Tropez.jpg/220px-Le_gendarme_de_St._Tropez.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
}
.film-block {
  max-width: 60%;
}